@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #0A3871;
    --color-secundario: #FFFFFF;
    --color-terciario: #D8DFE8;
    
    --color-fondo: #F3F5FC;

    --fuente-inter:  "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-fondo);
}

.contenedor_principal ,
.contenedor_secundario {
    display: flex;
    flex-direction: row;
    gap: 12rem;
}

.header {
    margin: 40px;
}

textarea {
    background-color: var(--color-fondo);
    font-family: var(--fuente-inter);
    border-style: none;
    outline: none;
    resize: none;
    width: 577px;
    height: 590px;
    margin-top: 168px;
    margin-right: 183px;
    font-size: 2rem;
}

textarea::placeholder {
    color: var(--color-primario);
    font-family: var(--fuente-inter);
}

.advertencia {
    font-size: 0.75rem;
    color: #495057;
}

.boton {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 680px;
}

button {
    border: none;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
}

.boton_encriptar {
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.boton_desencriptar {
    background-color: var(--color-terciario);
    color: var(--color-primario);
}

.resultado {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundario);
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 32px;
    width: 400px;
    height: 815px;
}

.muñeco {
    width: 336px;
    height: 304px;
    padding: 32px;
    padding-top: 150px;
}

.mensaje_resultado {
    font-family: var(--fuente-inter);
    padding: 32px;
    text-align: center;
}

.mensaje_resultado h2 {
    color: #343A40;
}

.mensaje_resultado p {
    color: #495057;
}

footer {
    font-family: var(--fuente-inter);
    color: var(--color-primario);
    font-size: 1rem;
    text-align: center;
    margin: 20px;
}