@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #0A3871;

    --fuente-inter:  "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.contenedor_principal ,
.contenedor_secundario {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

textarea {
    color: var(--color-primario);
    font-family: var(--fuente-inter);
    border-style: none;
    outline: none;
    resize: none;
    width: 577px;
    height: 600px;
    margin-top: 168px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 2rem;
}

textarea::placeholder {
    color: var(--color-primario);
    font-family: var(--fuente-inter);
}

.advertencia {
    font-size: 0.75rem;
    color: #495057;
}

footer {
    font-family: var(--fuente-inter);
    color: var(--color-primario);
    font-size: 1rem;
}