@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #0A3871;
    --color-secundario: #FFFFFF;
    --color-terciario: #D8DFE8;
    
    --color-fondo: #F3F5FC;

    --fuente-inter:  "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-fondo);
    overflow-x: hidden;
}

.contenedor_principal ,
.contenedor_secundario {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contenedor_secundario {
    margin: 40px;
}

.header {
    margin-top: 73.42px;
}

textarea {
    background-color: var(--color-fondo);
    font-family: var(--fuente-inter);
    border-style: none;
    outline: none;
    resize: none;
    width: 688px;
    height: 548px;
    margin-top: 12px;
    font-size: 2rem;
}

textarea::placeholder {
    color: var(--color-primario);
    font-family: var(--fuente-inter);
}

.advertencia {
    font-size: 0.75rem;
    color: #495057;
    margin-bottom: 16px;
}

.boton {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 680px;
}

button {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
    font-family: var(--fuente-inter);
    font-size: 1rem;
}

.boton_encriptar {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border: 2px solid var(--color-primario);
}

.boton_desencriptar {
    background-color: var(--color-fondo);
    color: var(--color-primario);
    border: 2px solid var(--color-primario);
}

.boton_desencriptar:hover {
    background-color: var(--color-terciario);
}

.resultado {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundario);
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 32px;
    width: 688px;
    height: auto;
}

.muñeco {
    display: none;
    width: 336px;
    height: 304px;
    padding: 32px;
    padding-top: 150px;
}

.mensaje_resultado {
    font-family: var(--fuente-inter);
    padding: 40px;
    text-align: center;
}

.mensaje_resultado h2 {
    margin-bottom: 16px;
    color: #343A40;
}

.mensaje_resultado p {
    color: #495057;
    max-width: 624px; 
    max-height: 600px; 
    white-space: normal;
    overflow: hidden;
    /*text-align: justify;*/
}

.boton_copiar {
    align-self: center;
    margin-top: auto;
    margin-bottom: 32px;
    color: var(--color-primario);
    background-color: var(--color-secundario);
    border: 2px solid var(--color-primario);
    width: 624px;
    height: 67px;
}

.boton_copiar:hover {
    background-color: var(--color-terciario);
}

footer {
    font-family: var(--fuente-inter);
    color: var(--color-primario);
    font-size: 1rem;
    text-align: center;
    margin: 20px;
}

@media (min-width: 768px) {
    .header {
        margin: 40px;
    }

    .contenedor_principal ,
    .contenedor_secundario {
        flex-direction: row;
        gap: 12rem;
    }

    textarea {
        margin-top: 168px;
        margin-right: 183px;
        height: 590px;
        width: 577px;
    }

    .resultado {
        width: 400px;
        height: 815px;
    }

    .mensaje_resultado {
        padding: 32px;
    }

    .muñeco {
        display: block;
    }

    .boton_copiar {
        width: 328px;
        height: 67px;
    }

    .mensaje_resultado p {
        max-width: 336px; 
    }
}

@media (max-width: 375px) {
    .header {
        margin-top: 24px;
    }

    textarea {  
        height: 250px;
        width: 343px;
    }

    .boton {
        flex-direction: column;
    }

    .boton_encriptar {
        width: 343px;
    }

    .boton_desencriptar {
        width: 343px;
    }

    .resultado {
        width: 327px;
        height: auto;
        margin-left: 8px;
        margin-top: 48px;
    }

    .contenedor_secundario {
        margin: 16px;
    }

    .boton_copiar {
        width: 279px;
        height: 67px;
    }
}